/* Global Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

/* Header Styles */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-bottom: 2px solid #ddd;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

header img {
  height: 32px;
}

header h1 {
  font-size: 24px;
  font-weight: bold;
  
}

header span {
  font-size: 18px;
}

/* Navigation Bar */
nav {
  background-color: #1d4ed8;
  color: white;
  display: flex;
  justify-content: center;
  gap: 150px;
  padding: 12px;
  width: 100%;
  
}

nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav a:hover {
  text-decoration: underline;
}

/* Main Content */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.reservation-box {
  border: 2px solid #065f46;
  width: 75%;
  height: 66%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation-box h2 {
  font-size: 32px;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #1d4ed8;
  color: white;
  text-align: center;
  padding: 12px;
  bottom: 0;
  position: fixed;
  width: 100%;

}